<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Softline</title>
	<link rel="shortcut icon" href="./src/assets/images/fav.svg" type="image/x-icon">
</head>
<body>
<div id="app">
	<div class="page">
		{% include "./src/templates/_header.html"  %}
		{% include "./src/templates/_main.html"  %}
		{% include "./src/templates/_about.html"  %}
		{% include "./src/templates/_offices.html"  %}
		{% include "./src/templates/_business.html"  %}
		{% include "./src/templates/_mission.html"  %}
		{% include "./src/templates/_pack.html"  %}
		{% include "./src/templates/_life.html"  %}
	</div>
</div>

<script defer type="module" src="./src/js/main.js"></script>
</body>
</html>
