<section class="about">

  <div class="about__company">
    <p class="about__company-paragraph">
      <strong class="about__company-red _text-red">Softline</strong> – ведущий поставщик IT-решений и сервисов.*
    </p>
    <p class="about__company-paragraph">Мы предлагаем комплексные IT-решения, облака, программное</p>
    <p class="about__company-paragraph">и аппаратное обеспечение, решения по цифровой трансформации</p>
    <p class="about__company-paragraph">и кибербезопасности, а также широкий спектр IT-услуг.</p>
  </div>

  <div class="about__numbers">
    <ul class="about__numbers-list">
      <article class="about__numbers-list-item">
        <h4 class="about__number-title _text-red">> 30 лет</h4>
        <p class="about__number-text">на IT-рынк</p>
      </article>

      <article class="about__numbers-list-item">
        <h4 class="about__number-title _text-red">4600</h4>
        <p class="about__number-text">сотрудников в России
        </p>
      </article>

      <article class="about__numbers-list-item">
        <h4 class="about__number-title _text-red">25</h4>
        <p class="about__number-text">городов России</p>
      </article>

      <article class="about__numbers-list-item">
        <h4 class="about__number-title _text-red">2000 +</h4>
        <p class="about__number-text">разработчиков</p>
      </article>

      <article class="about__numbers-list-item">
        <h4 class="about__number-title _text-red">3000 +</h4>
        <p class="about__number-text">
          сотрудников ежегодно<br/>
          проходят оценку и обучение
        </p>
      </article>
    </ul>
  </div>

</section>