<section class="business">
  <h4 class="business__title title">Направления бизнеса</h4>
  <ul class="business__list">
    <li class="business__list-item">
      <img class="business__list-image" src="./src/assets/images/business/business1.png" alt="">
      <div class="business__list-content">
        <h5 class="business__list-title">
          Решения Softline
          <img class="mission__arrow" src="./src/assets/images/white-arrow.svg" alt="">
        </h5>
        <div class="business__list-text">
          <p>
            ГК Softline предлагает клиентам собственную линейку оборудования (ПК, серверы, торговое оборудование и
            проч.),
            разработку программных продуктов, облачных решений, решений в области информационной безопасности.
          </p>
        </div>
      </div>
    </li>

    <li class="business__list-item">
      <img class="business__list-image" src="./src/assets/images/business/business2.png" alt="">
      <div class="business__list-content">
        <h5 class="business__list-title">
          Кибербезопасность
          <img class="mission__arrow" src="./src/assets/images/white-arrow.svg" alt="">
        </h5>
        <div class="business__list-text">
          <p>
            Softline обладает всеми необходимыми
            государственными лицензиями для организации проектов по информационной безопасности и аттестации.
          </p>
        </div>
      </div>
    </li>

    <li class="business__list-item">
      <img class="business__list-image" src="./src/assets/images/business/business3.png" alt="">
      <div class="business__list-content">
        <h5 class="business__list-title">
          Импортозамещение
          <img class="mission__arrow" src="./src/assets/images/white-arrow.svg" alt="">
        </h5>
        <div class="business__list-text">
          <p>
            ГК Softline обладает широчайшим портфелем решений и услуг для импортозамещения,
            включая ПО и оборудование собственного производства.
          </p>
        </div>
      </div>
    </li>

    <li class="business__list-item">
      <img class="business__list-image" src="./src/assets/images/business/business4.png" alt="">
      <div class="business__list-content">
        <h5 class="business__list-title">
          Облачные решения
          <img class="mission__arrow" src="./src/assets/images/white-arrow.svg" alt="">
        </h5>
        <div class="business__list-text">
          <p>
            Softline использует современные облачные решения как российских, так и международных вендоров для
            масштабирования бизнеса своих клиентов. Подписки, услуги, трансформация.
          </p>
        </div>
      </div>
    </li>

    <li class="business__list-item">
      <img class="business__list-image" src="./src/assets/images/business/business5.png" alt="">
      <div class="business__list-content">
        <h5 class="business__list-title">
          Цифровая трансформация и разработка ПО
          <img class="mission__arrow" src="./src/assets/images/white-arrow.svg" alt="">
        </h5>
        <div class="business__list-text">
          <p>
            Softline использует современные технологи и новые возможности для увеличения производительности бизнеса
            заказчика.
            В штате ГК Softline - 2000+ разработчиков, которые трансформируют ПО под нужды конкретного предприятия.
          </p>
        </div>
      </div>
    </li>

    <li class="business__list-item">
      <img class="business__list-image" src="./src/assets/images/business/business6.png" alt="">
      <div class="business__list-content">
        <h5 class="business__list-title">
          Техническая поддержка Softline
          <img class="mission__arrow" src="./src/assets/images/white-arrow.svg" alt="">
        </h5>
        <div class="business__list-text">
          <p>
            200+ инженеров, 24 часа в сутки, 7 дней в неделю, 12 месяцев в году,
            сервисное партнерство с 30+ мировыми производителями.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>