<section class="life">
  <div class="life__header">
    <h3 class="life__title title">Корпоративная жизнь</h3>
    <div class="life__btns-block">
      <button id="slider__btn-prev" class="life__btn life__btn_left">
        <img class="life__btn-image" src="./src/assets/images/life/left.svg" alt="">
      </button>
      <button id="slider__btn-next" class="life__btn life__btn_right">
        <img class="life__btn-image" src="./src/assets/images/life/right.svg" alt="">
      </button>
    </div>
  </div>

  <div class="slider">
    <div id="slider" class="slider__wrapper">
      <picture>
        <source media="(max-width: 320px)" srcset="./src/assets/images/life/Слайд1-m.png">
        <img class="slider__image" src="./src/assets/images/life/Слайд1.png" alt="">
      </picture>

      <picture>
        <source media="(max-width: 320px)" srcset="./src/assets/images/life/Слайд2-m.png">
        <img class="slider__image" src="./src/assets/images/life/Слайд2.png" alt="">
      </picture>

      <picture>
        <source media="(max-width: 320px)" srcset="./src/assets/images/life/Слайд3-m.png">
        <img class="slider__image" src="./src/assets/images/life/Слайд3.png" alt="">
      </picture>

      <picture>
        <source media="(max-width: 320px)" srcset="./src/assets/images/life/Слайд4-m.png">
        <img class="slider__image" src="./src/assets/images/life/Слайд4.png" alt="">
      </picture>

      <picture>
        <source media="(max-width: 320px)" srcset="./src/assets/images/life/Слайд5-mpng.png">
        <img class="slider__image" src="./src/assets/images/life/Слайд5.png" alt="">
      </picture>
    </div>

    <div class="slider__tabs">
      <button class="slider__tabs-item"></button>
      <button class="slider__tabs-item"></button>
      <button class="slider__tabs-item"></button>
      <button class="slider__tabs-item"></button>
      <button class="slider__tabs-item"></button>
    </div>
  </div>

</section>