<section id="offices" class="offices">
  <div class="offices__header">
    <button id="offices__select-btn" class="offices__select-btn">
      <span>Офисы Softline</span>
      <img class="offices__arrow offices__arrow_open" src="src/assets/images/arrow.svg" alt="">
    </button>

    <ul class="offices__list">
      <li class="offices__list-item">
        <button data-value="All" class="offices__btn">Все</button>
      </li>
      <li class="offices__list-item">
        <button data-value="Moscow" class="offices__btn">Москва</button>
      </li>
      <li class="offices__list-item">
        <button data-value="Center" class="offices__btn">Центр</button>
      </li>
      <li class="offices__list-item">
        <button data-value="North-West" class="offices__btn">Северо-Запад</button>
      </li>
      <li class="offices__list-item">
        <button data-value="South" class="offices__btn">Юг</button>
      </li>
      <li class="offices__list-item">
        <button data-value="Volga" class="offices__btn">Волга</button>
      </li>
      <li class="offices__list-item">
        <button data-value="Ural" class="offices__btn">Урал</button>
      </li>
      <li class="offices__list-item">
        <button data-value="Siberia" class="offices__btn">Сибирь</button>
      </li>
      <li class="offices__list-item">
        <button data-value="Far East" class="offices__btn">Дальний восток</button>
      </li>
    </ul>

    <div class="offices__menu">
      <ul class="offices__menu-list">
        <li class="offices__menu-list-item">Москва</li>
      </ul>

      <ul class="offices__menu-list">
        <li class="offices__menu-list-item">Центр</li>
        <li class="offices__menu-list-item">Воронеж</li>
        <li class="offices__menu-list-item">Ярославль</li>
        <li class="offices__menu-list-item">Белгород</li>
      </ul>

      <ul class="offices__menu-list">
        <li class="offices__menu-list-item">Северо-Запад</li>
        <li class="offices__menu-list-item">Санкт-Петербург</li>
        <li class="offices__menu-list-item">Калининград</li>
      </ul>

      <ul class="offices__menu-list">
        <li class="offices__menu-list-item">Юг</li>
        <li class="offices__menu-list-item">Ростов-на-Дону</li>
        <li class="offices__menu-list-item">Краснодар</li>
        <li class="offices__menu-list-item">Волгоград</li>
      </ul>

      <ul class="offices__menu-list">
        <li class="offices__menu-list-item">Волга</li>
        <li class="offices__menu-list-item">Казань</li>
        <li class="offices__menu-list-item">Самара</li>
        <li class="offices__menu-list-item">Уфа</li>
        <li class="offices__menu-list-item">Оренбург</li>
        <li class="offices__menu-list-item">Нижний Новгород</li>
      </ul>

      <ul class="offices__menu-list">
        <li class="offices__menu-list-item">Урал</li>
        <li class="offices__menu-list-item">Екатеринбург</li>
        <li class="offices__menu-list-item">Челябинск</li>
        <li class="offices__menu-list-item">Пермь</li>
        <li class="offices__menu-list-item">Сургут</li>
        <li class="offices__menu-list-item">Тюмень</li>
        <li class="offices__menu-list-item">Ижевск</li>
      </ul>

      <ul class="offices__menu-list">
        <li class="offices__menu-list-item">Сибирь</li>
        <li class="offices__menu-list-item">Новосибирск</li>
        <li class="offices__menu-list-item">Омск</li>
        <li class="offices__menu-list-item">Томск</li>
        <li class="offices__menu-list-item">Красноярск</li>
        <li class="offices__menu-list-item">Иркутск</li>
      </ul>

      <ul class="offices__menu-list">
        <li class="offices__menu-list-item">Дальний Восток</li>
        <li class="offices__menu-list-item">Хабаровск</li>
        <li class="offices__menu-list-item">Владивосток</li>
      </ul>
    </div>
  </div>

  <div class="offices__image-block">
    <img data-elem="All" class="offices__image" src="src/assets/images/offices/All.png" alt="">
    <img data-elem="Moscow" class="offices__image offices__image_hidden" src="src/assets/images/offices/Moscow.png" alt="">
    <img data-elem="Center" class="offices__image offices__image_hidden" src="src/assets/images/offices/Center.png" alt="">
    <img data-elem="North-West" class="offices__image offices__image_hidden" src="src/assets/images/offices/North-West.png" alt="">
    <img data-elem="Far East" class="offices__image offices__image_hidden" src="src/assets/images/offices/FarEast.png" alt="">
    <img data-elem="Siberia" class="offices__image offices__image_hidden" src="src/assets/images/offices/Siberia.png" alt="">
    <img data-elem="South" class="offices__image offices__image_hidden" src="src/assets/images/offices/South.png" alt="">
    <img data-elem="Ural" class="offices__image offices__image_hidden" src="src/assets/images/offices/Ural.png" alt="">
    <img data-elem="Volga" class="offices__image offices__image_hidden" src="src/assets/images/offices/Volga.png" alt="">
  </div>
</section>