<section class="pack">
  <div class="pack__wrapper">
    <h3 class="pack__title title">Компенсационный пакет</h3>
    <ul class="pack__list">
      <li class="pack__item">
        <img src="./src/assets/images/pack/pack1.svg" alt="" class="pack__item-image">
        <h5 class="pack__item-title">Дмс</h5>
      </li>

      <li class="pack__item">
        <img src="./src/assets/images/pack/pack2.svg" alt="" class="pack__item-image">
        <h5 class="pack__item-title">
          Выходной
          в день рождения
        </h5>
      </li>

      <li class="pack__item">
        <img src="./src/assets/images/pack/pack3.svg" alt="" class="pack__item-image">
        <h5 class="pack__item-title">
          Корпоративная мобильная связь
        </h5>
      </li>

      <li class="pack__item">
        <img src="./src/assets/images/pack/pack4.svg" alt="" class="pack__item-image">
        <h5 class="pack__item-title">
          Корпоративные скидки на спорт
        </h5>
      </li>

      <li class="pack__item">
        <img src="./src/assets/images/pack/pack5.svg" alt="" class="pack__item-image">
        <h5 class="pack__item-title">
          LTI
        </h5>
      </li>
    </ul>
    <div class="pack__motivation">
      <h4 class="pack__motivation-title">
        Программа дополнительной мотивации
        <div class="pack__motivation-title-red">доплата 12% от суммы</div>
      </h4>

      <ul class="pack__motivation-list">
        <li class="pack__item">
          <img src="./src/assets/images/pack/pack6.svg" alt="" class="pack__item-image">
          <h5 class="pack__item-title">Оргтехники</h5>
        </li>

        <li class="pack__item">
          <img src="./src/assets/images/pack/pack1.svg" alt="" class="pack__item-image">
          <h5 class="pack__item-title">ДМС</h5>
        </li>

        <li class="pack__item">
          <img src="./src/assets/images/pack/pack7.svg" alt="" class="pack__item-image">
          <h5 class="pack__item-title">Ипотеки</h5>
        </li>
      </ul>
    </div>
  </div>
</section>