.header {
  @extend %flex-c-sb;
  @extend %container;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.nav {
  @extend %flex-c-sb;
  gap: 2rem;
}

.logo{
  width: 12.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 320px) {
  .header {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.6rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .nav{
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: .5rem 1rem;
  }
}