.main {
  @extend %container;
  padding-top: 15.8rem;
  padding-bottom: 15.8rem;
  background-image: url("../assets/images/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main__title {
  margin-bottom: 6rem;
}

@media screen and (max-width: 1050px){
  .main{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 751px){
  .main{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .main__title {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 320px){
  .main{
    padding-top: 4rem;
    padding-bottom: 9.6rem;
  }

  .main__title {
    margin-bottom: 2rem;
    line-height: 100%;
  }
}