$generalFontWeight: 600;
$normalFontWeight: 400;
$generalFonFamily: 'Proxima Nova Condensed', 'serif';

$mobileLinkFontSize:1.4rem;
$fontSize: 1.8rem;
$mobileFontSize: 1.6rem;
$secondFontSize: 3.2rem;
$titleFontSize: 5.6rem;
$mobileTitleFontSize:2.8rem;

$maxWidth: 1250px;
$mobileMaxWidth:290px;

$dark: #444;
$light: #fff;
$primaryRed: #B01736;
$secondRed: #A30C33;
$redHover: #D43152;